<div class="p-d-flex p-flex-md-row p-jc-center p-ai-center">
  <div class="p-ml-auto"></div>
  <div class="p-mh-4">
    <img
      class="p-mx-4"
      src="https://firebasestorage.googleapis.com/v0/b/covid-stats-wiz.appspot.com/o/icon.svg?alt=media&token=88b517e7-5785-4919-b93c-85935bab837f"
      width="50"
      [routerLink]="'/countries'"
    />
    <h3>COVID-19</h3>
  </div>
  <div class="p-ml-auto"></div>
</div>

<button
  pButton
  pRipple
  type="button"
  icon="pi pi-sign-in"
  class="admin-button p-m-2"
  label="Manage news"
  [routerLink]="['/admin']"
></button>
