<div class="p-d-flex p-flex-md-row p-jc-center p-ai-center">
  <div class="p-ml-auto"></div>
  <img
    class="p-mr-4"
    src="/assets/icon.svg"
    width="50"
    [routerLink]="'/countries'"
  />
  <h3 class="p-mh-4">COVID-19</h3>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-sign-in"
    class="p-ml-auto"
    label="Manage news"
    [routerLink]="['/admin']"
  ></button>
</div>

<!-- TODO: button for login -->
<!-- TODO: button for adding more news as logged in user -->
