<div class="p-d-flex p-jc-center">
  <div class="p-d-inline-flex p-jc-center p-flex-column p-shadow-1 p-p-6">
    <img class="p-as-center" src="https://firebasestorage.googleapis.com/v0/b/covid-stats-wiz.appspot.com/o/icon.svg?alt=media&token=88b517e7-5785-4919-b93c-85935bab837f" width="150" />
    <div class="p-text-center" style="font-size: 20px">covid-stats-wiz</div>
    <div class="p-text-left p-py-4">
      Log into your account, and leave a request to become an editor if you're
      not already.
    </div>
    <button
      pButton
      pRipple
      type="button"
      label="Sign In with Google"
      icon="pi pi-google"
      class="p-button-raised p-button-text"
      (click)="signIn()"
    ></button>
  </div>
</div>
