<app-header></app-header>

<div class="p-d-flex p-flex-row p-p-3 p-shadow-1 p-mb-4">
  <div [routerLink]="'/countries'" class="pd-flex p-ac-center">
    <span class="p-text-capitalize">Countries</span>
    <span class="pi pi-angle-right path-separator"></span>
  </div>
  <div class="pd-flex p-ac-center">
    <span class="p-text-capitalize">{{ countrySlug }}</span>
  </div>
</div>

<div *ngIf="isLoading; else content" class="p-d-flex p-jc-center p-ai-center">
  <p-progressSpinner></p-progressSpinner>
</div>

<ng-template #content>
  <app-summary [summary]="summary"></app-summary>
</ng-template>
