<div *ngIf="isLoading()">Loading...</div>

<div *ngIf="isError()">An error occurred: {{ getError() }}</div>

<table *ngIf="isSuccess()">
  <thead>
    <th>Country</th>

    <th>New Cases</th>
    <th>Total Cases</th>

    <th>New Recoveries</th>
    <th>Total Recoveries</th>

    <th>New Deaths</th>
    <th>Total Deaths</th>
  </thead>
  <tbody>
    <tr *ngFor="let country of getCountries()">
      <td [routerLink]="'/countries/' + country.Slug">
        {{ country.Country }}
      </td>

      <td>{{ country.NewConfirmed }}</td>
      <td>{{ country.TotalConfirmed }}</td>

      <td>{{ country.NewRecovered }}</td>
      <td>{{ country.TotalRecovered }}</td>

      <td>{{ country.NewDeaths }}</td>
      <td>{{ country.TotalDeaths }}</td>
    </tr>
  </tbody>
</table>
