<div class="p-grid p-fluid">
  <div class="p-col p-d-flex p-ai-center">
    <div class="p-col-12">
      <div class="p-inputgroup p-col-12">
        <span class="p-inputgroup-addon pi pi-pencil"></span>
        <input
          type="text"
          pInputText
          class="p-col-12"
          placeholder="Title"
          [(ngModel)]="news.title"
        />
      </div>
    </div>
  </div>
  <div class="p-col">
    <div class="box">
      <p-dropdown
        class="p-col-12"
        placeholder="Country"
        filterBy="Country"
        [showClear]="true"
        [filter]="true"
        [options]="countries"
        [(ngModel)]="news.countrySlug"
        optionLabel="Country"
        optionValue="Slug"
      ></p-dropdown>
    </div>
  </div>
  <div class="p-col-12">
    <div class="box">
      <p-tabView class="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span>Write</span>
          </ng-template>
          <textarea
            pInputTextarea
            autoResize="autoResize"
            [(ngModel)]="news.description"
          ></textarea>
          <!-- TODO: add fileupload like in github -->
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span>Preview</span>
          </ng-template>
          <app-news-article [article]="news"></app-news-article>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <div class="p-col-12">
    <p-button label="Submit" icon="pi pi-save" (click)="onSubmit()"></p-button>
  </div>
</div>
